rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    function writesAllowed(userId) {
      return true;
    }
    match /users/{userId}/words/{docId} {
      allow read: if isOwner(userId);
      allow write: if isOwner(userId) && writesAllowed(userId);
    }
    match /users/{userId}/reviews/{docId} {
      allow read: if isOwner(userId);
      allow write: if isOwner(userId) && writesAllowed(userId);
    }
    match /users/{userId}/settings/{docId} {
      allow read: if isOwner(userId);
      allow write: if isOwner(userId) && writesAllowed(userId);
    }
  }
}
